# Notebook basics

You are now in a Jupyter Notebook. It's made up of "cells". 

You can right-click on a cell (including this one) to give you some options to change it or move it.

There are some helpful shortcuts you can run when you have selected a cell:
* press `a` to create a new cell above this one.
* press `b` to create a new cell below this one.
* type `dd` to delete a cell
...

When a new cell is created, it expects you to write Python code in there. 

Writing the code is not enough to run it. You must type `Shift + Enter` to run/execute/evaluate the current cell and move on to the next one.

Let's try it on this command:

In [1]:
1+1

2

**Try it out!** Create a new cell below this one and multiply or divide some numbers...

In [2]:
12/3

4.0

After a new cell is created for Python code (by default), you can choose to convert it to a "Markdown" cell that can hold text. Select the cell below and press `m` to do this. Then add 2 to 2:

I'm some text. This is **bold**, this it *italicized*, this is a formula: $F = m a$

Markdown is great because you can format **bold** or *italic* (and other choices), as well as write formulae easily in Latex:

$$E=mc^2$$

---

# Variables

A variable holds a piece of data in memory. This can be a number, a string, a list, or more sophisticated objects that we will come to.

In [3]:
x = 5

In [4]:
y = 6

The variables `x` and `y` are now memorized in memory (but not saved to a file). You can retrieve them.

In [5]:
x

5

In [6]:
y

6

You can also perform operations on them:

In [7]:
x + y

11

In [8]:
x * y

30

---

# Logic

A logical statement or condition can either be true or false.

In [9]:
a = True
b = False

In [10]:
print(a)
print(b)

True
False

The "not" operator inverts a logical statement or condition:

In [11]:
print(not(a))
print(not(b))

False
True

The "and" operator gives False if one of the statements is False:

In [12]:
print(a & b)

False

In [13]:
print(True & True)
print(True & False)
print(False & True)
print(False & False)

True
False
False
False

The "or" operator gives True if one of the statements is True:

In [14]:
print(a | b)

True

In [15]:
print(True | True)
print(True | False)
print(False | True)
print(False | False)

True
True
True
False

---

# Control: if-else statements

We can use logic to guide code execution. This code prints out whichever of x and y is the larger:

In [16]:
x > y

False

In [17]:
if x > y:
    print('x is larger than y')

In [18]:
if x > y:
    print('x is larger than y')
else:
    print('x is not larger than y')

x is not larger than y

We can also nest statements by including an extra tab:

In [19]:
if x > y:
    print('x is larger than y')
else:
    if x < y:
        print('x is less than y')
    else:
        print('x is equal to y')

x is less than y

In [20]:
if x > y:
    print(x)
else:
    print(y)

6

---

# Comments

You can add comments to your code by writing `#` at the beginning.

In [21]:
# I'm a comment, I won't do anything
1 + 1

2

It's good practice to add many comments to your code so that you understand it after some time apart!

You can "comment out" code by prefacing with `#`. This means it will not be processed or run.

In [22]:
x = 5
# x=6
# And some text
print(x)

5

---

# Lists

How about storing multiple items, or pieces of data, in a single variable? Lists can accomplish that. They give some sequential structure to the data.

In [23]:
a = [ 100, 200, 300 ]

In [24]:
a

[100, 200, 300]

You can add new items to an existing list:

In [25]:
a.append(400)

In [26]:
a

[100, 200, 300, 400]

How many items/elements are contained in the above list?

In [27]:
len(a)

4

You can look up an individual value in a list based on its position. **Programmers count from zero**:

In [28]:
a[0]

100

In [29]:
a[1]

200

In [30]:
a[2]

300

In [31]:
a[3]

400

What do you think will happen if we uncomment this line and run it?

In [32]:
a[4]

IndexError: list index out of range

In [33]:
a.reverse()

In [34]:
a

[400, 300, 200, 100]

You can perform a `+` operation on lists. It concatenates the two lists together:

In [35]:
b = [600, 500] + a
b

[600, 500, 400, 300, 200, 100]

You can remove elements from a list using the `del` operator:

In [36]:
del a[0]
a

[300, 200, 100]

You can sort a list:

In [37]:
b.sort()
b

[100, 200, 300, 400, 500, 600]

This is how to create a list starting at 0 with a given length:

In [38]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [42]:
c = b
c.sort(reverse=True)
c

[600, 500, 400, 300, 200, 100]

In [43]:
d = [2, 4, 6, 8]
d

[2, 4, 6, 8]

In [45]:
e = d + [10]
e

[2, 4, 6, 8, 10, 10]

---

# Loops

Most programming languages have (at least) two kinds of loop: a while-loop and a for-loop.

## While-loops

In [46]:
x = 0
while (x < 10):
    print(x)
    x = x + 1

0
1
2
3
4
5
6
7
8
9

Let's use a while-loop to calculate 2 to the 6th power; i.e. $2^6 = 2*2*2*2*2*2 = 64$

In [47]:
result = 2
counter = 1 
while (counter < 6):
    print(counter)
    print(result)
    result = result * 2
    counter = counter + 1

print('Final result:')
print(result)

1
2
2
4
3
8
4
16
5
32
Final result:
64

## For-loops:

Another kind of loop is a `for` loop. It iterates over every element `in` an object. Let's do this with the elements of a list:

In [48]:
for x in [1,2,3]:
    print(x)

1
2
3

In [49]:
for x in [1,2,3]:
    print(x*5)

5
10
15

---

# List comprehensions

Note that the power operator in Python is `**`

In [50]:
2**6

64

In [51]:
squares = []
for n in range(10):
    squares.append(n**2)

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [52]:
squares = [n**2 for n in range(10)]

In [53]:
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [54]:
squares = [n**2 for n in range(10) if n > 4]
squares

[25, 36, 49, 64, 81]

---

# Strings

A string contains some text data. It could be as short as a character or as long as a book.

In [55]:
name = 'Robert'

In [56]:
print(name)

Robert

## Concatenation

You can concatenate strings, just as we could concatenate lists:

In [57]:
name = name + 'a'
print(name)

Roberta

## Substrings

In [58]:
name[0]

'R'

In [59]:
name[2:4]

'be'

In [60]:
name[-1]

'a'

In [61]:
name[:-1]

'Robert'

In [62]:
day = 'Monday'

In [63]:
# Last 3 characters:
day[-3:]

'day'

In [64]:
# Everything after the 3rd character:
day[3:]

'day'

In [65]:
# Everything up to the 3rd character:
day[:3]

'Mon'

## Iteration

You can iterate over strings too, as if they are a list, if you ever need to:

In [66]:
for x in range(len(name)):
    print(name[x])

R
o
b
e
r
t
a

In [67]:
for x in name:
    print(x)

R
o
b
e
r
t
a

**Quiz** print out each character in the name above using a while-loop instead of a for-loop.

In [68]:
x=0
while (x < len(name)):
    print(name[x])
    x=x+1

R
o
b
e
r
t
a

## Capitalization

In [69]:
name = 'robert'
name

'robert'

In [70]:
name.lower()

'robert'

In [71]:
name.title()

'Robert'

In [72]:
name = 'ROBERT'
name

'ROBERT'

In [73]:
name.lower()

'robert'

You can also do this on strings directly, without needing a variable:

In [74]:
'robert'.upper()

'ROBERT'

In [75]:
'robert'.title()

'Robert'

In [76]:
'ROBERT'.lower()

'robert'

## Split, join

In [77]:
b_day = '1942-11-04'

In [78]:
b_day.split('-')

['1942', '11', '04']

In [79]:
y, m, d = b_day.split('-')

In [80]:
y

'1942'

In [81]:
m

'11'

In [82]:
d

'04'

In [83]:
b_day_list = [y, m, d]

In [84]:
b_day_list

['1942', '11', '04']

In [85]:
'AND'.join(b_day_list)

'1942AND11AND04'

## Strip, replace

In [86]:
b_day2 = ' 1942-11-04..'

In [87]:
b_day2

' 1942-11-04..'

In [88]:
b_day2.lstrip(' ')

'1942-11-04..'

In [89]:
b_day2.rstrip("..")

' 1942-11-04'

In [90]:
b_day2.replace("-", "")

' 19421104..'

In [91]:
' 05-12-1975 '.replace('-', '/')

' 05/12/1975 '

In [92]:
' 05-12-1975 '.strip()

'05-12-1975'

In [93]:
' 05-12-1975 '.replace('-', '/').strip()

'05/12/1975'

## Logical operations

In [94]:
'BIRTHDAY'.lower()

'birthday'

In [95]:
'BIRTHDAY'.lower().endswith('day')

True

In [96]:
# We defined this variable earlier...
print(day)

Monday

In [97]:
day == 'Tuesday'

False

In [98]:
day == 'Monday'

True

In [99]:
day == 'monday'

False

In [100]:
day.lower() == 'monday'

True

In [101]:
'birthday'.startswith('day')

False

In [102]:
'birthday'.endswith('day')

True

In [103]:
'BIRTHDAY'.endswith('day')

False

---

# Quiz: iteration & string operations

In [104]:
b_schools = ['LBS ', 
             'INSEAD ', 
             'STANFORD_GSB ', 
             'HBS ', 
             'BOOTH ', 
             'CBS ']

print(b_schools)

['LBS ', 'INSEAD ', 'STANFORD_GSB ', 'HBS ', 'BOOTH ', 'CBS ']

Create a list called `b_schools_new` containing only business school names that have 3 characters, in lower-case. 

(Make sure to deal with spaces when counting name length.)

In [105]:
# Gavin's solution
b_schools_new = []
for x in b_schools:
    if len(x.strip()) == 3:
        b_schools_new.append(x.lower())
    else:
        x
print(b_schools_new)

['lbs ', 'hbs ', 'cbs ']

In [106]:
# Two modification to the above:
b_schools_new = []
for x in b_schools:
    x = x.strip().lower()
    if len(x) == 3:
        b_schools_new.append(x)
print(b_schools_new)

['lbs', 'hbs', 'cbs']

In [107]:
# Solution 1
b_schools_new = [s.lower()[:-1] for s in b_schools if len(s) < 5]
b_schools_new

['lbs', 'hbs', 'cbs']

In [108]:
# Solution 2
b_schools_new = [s.lower()[:-1] for s in b_schools if s.endswith('BS ')]
b_schools_new

['lbs', 'hbs', 'cbs']

In [109]:
# Solution 3
b_schools_new = [s.lower().strip(' ') for s in b_schools if s.endswith('BS ')]
b_schools_new

['lbs', 'hbs', 'cbs']

In [110]:
# Solution 4
b_schools_new = [s.lower()[:3] for s in b_schools if len(s) < 5]
b_schools_new

['lbs', 'hbs', 'cbs']

---

# Dictionaries

* Dictionaries are a built-in Python data structure for mapping keys to values.
* dictionary_name = {key_1: value_1, key_2: value_2, key_3: value_3}

In [ ]:
numbers_list = ['one', 1, 'two', 2, 'three', 3]

In [ ]:
numbers_list

In [111]:
numbers = {'one':1, 'two':2, 'three':3}

In [112]:
numbers

{'one': 1, 'two': 2, 'three': 3}

In [113]:
numbers['one']

1

In [114]:
numbers['three']

3

In [115]:
numbers['twenty']

KeyError: 'twenty'

In [116]:
numbers['eleven'] = 11

In [117]:
numbers

{'one': 1, 'two': 2, 'three': 3, 'eleven': 11}

## Creating a dict from a list by dictionary comprehensions

In [ ]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars',
           'Jupiter', 'Saturn', 'Uranus', 'Neptune']

In [ ]:
planet_to_initial = {planet: planet[0] for planet in planets}

In [ ]:
planet_to_initial

In [ ]:
planet_to_initial.keys()

In [ ]:
planet_to_initial.values()

In [ ]:
planet_to_initial.items()

In [ ]:
'Saturn' in planet_to_initial

In [ ]:
'S' in planet_to_initial

## Iteration over a dictionary

In [ ]:
planet_to_initial

In [ ]:
for k in planet_to_initial:
    print(planet_to_initial[k])

In [ ]:
planet_to_initial.items()

In [ ]:
for k, v in planet_to_initial.items():
    print(k, v)

In [ ]:
# del planet_to_initial['Mercury']

In [ ]:
planet_to_initial.keys()

In [ ]:
planet_to_initial.values()

In [ ]:
for k in planet_to_initial.keys():
    print(k)

In [ ]:
for v in planet_to_initial.values():
    print(v)

## Quiz

Print out all planets in the dictionary `planet_to_initial` that start with the letter `'M'`

In [ ]:
# TODO

## Change values

In [ ]:
# Method 1 
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
thisdict

In [ ]:
thisdict["year"] = 2018

In [ ]:
thisdict

In [ ]:
# Method 2 
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
thisdict

In [ ]:
thisdict.update({"year": 2018})

In [ ]:
thisdict

## Add values

In [ ]:
# Method 1 
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
thisdict

In [ ]:
thisdict["price"] = 140000

In [ ]:
thisdict

In [ ]:
# Method 2 
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [ ]:
thisdict.update({"price": 140000})

In [ ]:
thisdict

## Dict in a dict (aka. nested dict)

In [ ]:
pets = {
    'Bill': {
        'kind': 'cat',
        'owner': 'eric',
        'vaccinated': True
    },
    'Walter': {
        'kind': 'beetle',
        'owner': 'eric',
        'vaccinated': False
    },
    'Peso': {
        'kind': 'dog',
        'owner': 'chloe',
        'vaccinated': True
    }
}

Let's print out the names of all pets that are vaccinated:

In [ ]:
for p_name, pet_info in pets.items():
    for k in pet_info:
        if k == 'vaccinated':
            vaccinated = pet_info['vaccinated']
            if vaccinated == True:
                print(p_name)

Let's print out the names of pet owners who own a pet that is vaccinated. And let's correct the spelling to start with a capital letter.

In [ ]:
for p_name, pet_info in pets.items():
    for k in pet_info:
        if k == 'vaccinated':
            vaccinated = pet_info[k]
        if k == 'owner':
            owner_name = pet_info[k]
    if not(vaccinated):
        print(owner_name.title())

## Quiz

Print out the `kind` of pet that is *not* vaccinated.

In [ ]:
# TODO

---

# Functions

You can create your own function that takes in one or more inputs, and produces an output.

Here's an example with a single argument called `x`:

In [118]:
def triple(x):
    return 3 * x

In [119]:
triple(1)

3

In [120]:
triple(-100)

-300

The argument doesn't have to be a number: the function itself doesn't check the type of variable for you.

In [121]:
triple('a')

'aaa'

In [122]:
triple(['a'])

['a', 'a', 'a']

The predefined `print` function is a widely-used function:

In [123]:
print(123)

123

In [124]:
print('Hello, world!')
print('Farewell...')

Hello, world!
Farewell...

A function can have multiple arguments. Here, the `x` and `y` function arguments override the `x` and `y` that we defined at the start of the Notebook:

In [125]:
def multiply(x, y):
    return x * y

In [126]:
multiply(2, 3)

6

In [127]:
multiply(6, 20)

120

In [128]:
multiply(multiply(2, 3), multiply(4, 5))

120

## Quiz

### Part 1:

Write a function that exponentiates to a given power: $f(x) = e^x$

Remember that the power operator in Python is `**` and Euler's constant $e$ is approximately 2.7182818284590452353602874713527

In [129]:
def exponentiate(power):
    return 2.7182818284590452353602874713527 ** power

### Part 2: 

Create a list that contains the values $ [ e^0, e^1, e^{2}, e^{3}, e^4 ] $. 

Use your new function `exponentiate` to build your list.

In [134]:
# Gavin's & Maria's & Doudou's solution
[exponentiate(n) for n in range(5)]

[1.0,
 2.718281828459045,
 7.3890560989306495,
 20.085536923187664,
 54.59815003314423]

In [135]:
# Robin's solution:
for power in range(5):
    print(exponentiate(power))

1.0
2.718281828459045
7.3890560989306495
20.085536923187664
54.59815003314423

In [136]:
# Modification to the above / Yvonne's solution:
powers_list = []
for power in range(5):
    powers_list.append(exponentiate(power))

powers_list

[1.0,
 2.718281828459045,
 7.3890560989306495,
 20.085536923187664,
 54.59815003314423]