# Preliminaries

We need to load the `pandas` library/module/package. It will be abbreviated at `pd`.

Users typically load the `numpy` library/module/package at the same time (abbreviated as `np`), since it has some useful functions for data analysis, even though we will not use it here.

In [ ]:
import pandas as pd
import numpy as np

---

# Load Pandas data frames from CSV files

Let's use annual data from the World Happiness Report.

CSV = comma separated values. (This is what you'll see if you open up the files in a browser or text editor.)

Note how we use the function `read_csv` from the `pandas` library (which we have abbreviated to `pd`). You can find details on what arguments the function accepts and how it behaves by googling it, which takes you to this page: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html

In [ ]:
whr_df_15 = pd.read_csv('WHR_2015.csv')
whr_df_19 = pd.read_csv('WHR_2019.csv')

## Describing data

### Dimensions of these tables

In [ ]:
# Number of rows:
len(whr_df_15)

In [ ]:
# Number of rows and columns
whr_df_15.shape

In [ ]:
whr_df_19.shape

### head & tail

In [ ]:
whr_df_15.head()

In [ ]:
whr_df_15[:5]

In [ ]:
whr_df_15.tail(10)

In [ ]:
whr_df_15[-10:]

### info()

In [ ]:
whr_df_15.info()

### Data types

In [ ]:
whr_df_19.dtypes

### Accessing columns

In [ ]:
whr_df_19['Score']

In [ ]:
whr_df_19.Score

### describe() & mean()

In [ ]:
whr_df_19['Score'].describe()

In [ ]:
whr_df_19['Score'].describe()['min']

In [ ]:
whr_df_19['Score'].mean()

### value_counts()

In [ ]:
whr_df_15['Region'].value_counts()

---

# Processing data

## sort_values()

In [ ]:
whr_df_19

In [ ]:
whr_df_19.sort_values('Country or region')

In [ ]:
sorted_whr_df_19 = whr_df_19.sort_values(by="Freedom to make life choices", ascending=False)
sorted_whr_df_19

---

# Cleaning data

## Handling NAs

Let's read in a new table:

In [ ]:
dirty_df = pd.read_csv('dirty_data.csv')

In [ ]:
dirty_df

In [ ]:
dirty_df.info()

In [ ]:
dirty_df.isna().sum()

Drop the rows with NAs</b>

In [ ]:
new_dirty_df = dirty_df.dropna()

In [ ]:
new_dirty_df

In [ ]:
new_dirty_df.info()

Or, replace some NAs with imputed values </b>

In [ ]:
dirty_df['Calories']

In [ ]:
median_C = dirty_df['Calories'].median()
median_C

In [ ]:
new2_dirty_df = dirty_df['Calories'].fillna(median_C)
new2_dirty_df

## Date-times

In [ ]:
dirty_df

Let's remove rows with missing dates.

In [ ]:
# dirty_df = dirty_df.dropna(subset=['Date'])

In [ ]:
dirty_df.dropna(subset=['Date'], inplace=True)

Let's make sure dates are not messy strings, but genuine date-times:

In [ ]:
dirty_df['Date'] = pd.to_datetime(dirty_df['Date'], format='mixed')

In [ ]:
dirty_df.Date

In [ ]:
dirty_df

In [ ]:
dirty_df.loc[30, 'Date'] - dirty_df.loc[0, 'Date']

## Replacing values

In [ ]:
dirty_df[:10]

In [ ]:
dirty_df.loc[7, "Duration"]

In [ ]:
dirty_df.loc[7, "Duration"] = 45
dirty_df

## Detecting duplicates

In [ ]:
dirty_df[dirty_df.duplicated()]

In [ ]:
dirty_df = dirty_df.drop_duplicates()
dirty_df

## Filtering

### Single condition

In [ ]:
dirty_df[(dirty_df['Pulse'] > 110)]

For pandas data frame, the `~` operator is like the `not` we saw in the previous session:

In [ ]:
dirty_df[~(dirty_df['Pulse'] > 110)]

In [ ]:
dirty_df[(dirty_df['Pulse'] <= 110)]

### Multiple conditions

And (`&`)

In [ ]:
dirty_df[(dirty_df['Pulse'] > 110) & (dirty_df['Calories'] > 400)]

Or (`|`)

In [ ]:
dirty_df[(dirty_df['Pulse'] > 110) | (dirty_df['Calories'] > 400)]

In [ ]:
dirty_df[(dirty_df['Pulse'] == 100) | (dirty_df['Pulse'] == 102)]

`isin`

In [ ]:
dirty_df[ dirty_df['Pulse'].isin( [100, 102] ) ]

## More description

In [ ]:
dirty_df.corr()

---

# Quizzes

## Quiz 1

In `whr_df_15`, create a column for a boolean dummy variable, "ME_AF," that indicates whether a given country belongs to the African regions (i.e., Sub-Saharan Africa, or Middle East and Northern Africa)

In [ ]:
# TODO: Solution 1

In [ ]:
# TODO: Solution 2

## Quiz 2

In `whr_df_15`, what is the mean difference in happiness between the ME-AF group and the non-ME-AF group?

In [ ]:
# TODO: Solution 1

In [ ]:
# TODO: Solution 2

---

# Concatenate

![Illustration of concatenating](https://miro.medium.com/v2/resize:fit:1400/0*Xhaw5NqAkkqRPxUF.png)

In [ ]:
df1 = pd.DataFrame({"A": ["A0", "A1", "A2", "A3"],
                    "B": ["B0", "B1", "B2", "B3"],
                    "C": ["C0", "C1", "C2", "C3"],
                    "D": ["D0", "D1", "D2", "D3"]}, index=[0, 1, 2, 3])

In [ ]:
df1

In [ ]:
df2 = pd.DataFrame({"A": ["A4", "A5", "A6", "A7"],
                    "B": ["B4", "B5", "B6", "B7"],
                    "C": ["C4", "C5", "C6", "C7"],
                    "D": ["D4", "D5", "D6", "D7"]}, index=[4, 5, 6, 7])

In [ ]:
df2

In [ ]:
df3 = pd.DataFrame({"E": ["E8", "E9", "E10", "E11"],
                    "F": ["F8", "F9", "F10", "F11"],
                    "G": ["G8", "G9", "G10", "G11"]}, index=[0, 1, 2, 3])

In [ ]:
df3

The most common way to concatenate is along the index/rows ("vertically"). This is the default:

In [ ]:
pd.concat([df1, df2])

You can also concatenate along columns ("horizontally"), but you should only do this if the columns are different and you *know* the row order is *exactly* same for both dataframes. So this is usually not the right thing to do! (Usually, you want to merge in this situation, which we will see soon.) 

Let's show an example anyway:

In [ ]:
pd.concat([df1, df3], axis=1)

---

# Merge/Join

A very common operation is to merge/join two dataframes that share some columns (typically an identifier or key) but not others.

## Check the variables in each df

In [ ]:
whr_df_15[:3]

In [ ]:
whr_df_15.columns

Suppose that the columns of our interest are (1) Country, (2) Region, (3) Happiness Rank, (4) Happiness Score, (5) Economy, (6) Freedom, and (7) Trust

In [ ]:
whr_df_19[:3]

In [ ]:
whr_df_19.columns

## Rename columns

In [ ]:
whr_df_19.rename(columns = {'Overall rank':"Happiness Rank", "Country or region":"Country", 
                 "Score":"Happiness Score", "GDP per capita": "Economy (GDP per Capita)", 
                 "Freedom to make life choices":"Freedom",
                  "Perceptions of corruption":"Trust (Government Corruption)"}, inplace=True)

In [ ]:
whr_df_19

## Merging two dfs

In [ ]:
my_columns_15 = [
    'Country', "Region", 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)',
    'Freedom', 'Trust (Government Corruption)'
]

In [ ]:
whr_df_15[my_columns_15]

In [ ]:
whr_df_15_new = whr_df_15[my_columns_15]

In [ ]:
my_columns_19 = [
    'Country', 'Happiness Rank', 'Happiness Score', 'Economy (GDP per Capita)',
    'Freedom', 'Trust (Government Corruption)'
]

In [ ]:
whr_df_19[my_columns_19]

In [ ]:
whr_df_19_new = whr_df_19[my_columns_19]

In [ ]:
whr_df_15_19 = whr_df_15_new.merge(whr_df_19_new, left_on="Country", right_on="Country", how='left', suffixes=("_15", "_19"))

In [ ]:
whr_df_15_19

## Check missing values

In [ ]:
whr_df_15_19.isna().sum()

In [ ]:
len(whr_df_15_19)

## Drop NAs

In [ ]:
whr_df_15_19.dropna(inplace=True)

In [ ]:
whr_df_15_19.isna().sum()

In [ ]:
len(whr_df_15_19)

## There are different ways to perform joins...

![Illustration of merging](https://miro.medium.com/v2/resize:fit:1400/1*Vq8e0dAr0Xsfw0bJRz4FRg.png)

## ... so let's inner-join our data

Instead of `how="left"` we'll use `how="inner"`

In [ ]:
whr_df_15_19 = whr_df_15_new.merge(whr_df_19_new, left_on="Country", right_on="Country", how='inner', suffixes=("_15", "_19"))

In [ ]:
whr_df_15_19

In [ ]:
whr_df_15_19.isna().sum()

In [ ]:
len(whr_df_15_19)

Also, since `left_on=` and `right_on=` are the same, we can replace them with `on=` to save space:

In [ ]:
whr_df_15_19 = whr_df_15_new.merge(whr_df_19_new, on="Country", how='inner', suffixes=("_15", "_19"))

In [ ]:
whr_df_15_19

Finally, the default merge/join is an inner-join, so we can omit the `how` argument too:

In [ ]:
whr_df_15_19 = whr_df_15_new.merge(whr_df_19_new, on="Country", suffixes=("_15", "_19"))

In [ ]:
whr_df_15_19

If you ommit the `suffixes` argument, it will create suffixes `_x` and `_y` for you:

In [ ]:
whr_df_15_new.merge(whr_df_19_new, on="Country")

---

# Reshape

## Casting wide to long

`whr_df_15_19` is in a "wide" data format: there are columns repeated for two different years:

In [ ]:
whr_df_15_19.shape

In [ ]:
whr_df_15_19.columns

Let's "cast" it to a "long" format: 
* Each row will be split into 2 rows, one per year (15/19).
* And the following duplicated columns will be consolidated into a single set 
'Happiness Rank_15', 'Happiness Score_15', 'Economy (GDP per Capita)_15', 'Freedom_15', 'Trust (Government Corruption)_15', 'Happiness Rank_19', 'Happiness Score_19', 'Economy (GDP per Capita)_19', 'Freedom_19', 'Trust (Government Corruption)_19'
* A new year column will be created.
* And the following identifier columns will not be changed: 'Country', 'Region'

We'll use the [wide_to_long](https://pandas.pydata.org/docs/reference/api/pandas.wide_to_long.html) function to do this. (Another possibility is to use the similar [melt](https://pandas.pydata.org/docs/reference/api/pandas.melt.html) function.)

In [ ]:
long_df = pd.wide_to_long(whr_df_15_19
                , stubnames = [ 'Happiness Rank_', 'Happiness Score_', 'Economy (GDP per Capita)_'
                                 , 'Freedom_', 'Trust (Government Corruption)_' ]
                , i = [ 'Country', 'Region' ]
                , j = 'year'
               ).reset_index()

long_df

You can see that the consolidated columns still have a "_" postfix, so let's update the column names to remove that:

In [ ]:
long_df.columns = [c.replace('_', '') for c in long_df.columns]
long_df

## Casting long to wide

If you want to go in the other direction, you can "cast" the "long" format data frame to a "wide" format data frame (like we had originally).

Now, the "year" column will be subsumed under the value columns, in a hierarchical structure.

We'll use the [pivot](https://pandas.pydata.org/docs/reference/api/pandas.pivot.html) function to do this. (Another possibility is to use the similar [pivot_table](https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html) function.)

In [ ]:
wide_df = pd.pivot(long_df
                   , index = [ 'Country', 'Region' ]
                   , columns = 'year'
                  ).reset_index()

wide_df

The above has a hierarchical column structure. That's tricky to work with. So let's collapse to a single level.

In [ ]:
list(zip(['a', 'b'], ['c', 'd']))

In [ ]:
level_0_cnames = wide_df.columns.get_level_values(0)
level_0_cnames

In [ ]:
level_1_cnames = wide_df.columns.get_level_values(1)
level_1_cnames

In [ ]:
new_cnames = [(a+'_'+str(b)).rstrip('_') for (a,b) in zip(level_0_cnames, level_1_cnames)]
new_cnames

In [ ]:
wide_df.columns = new_cnames
wide_df

---

# Exercise for you

<ol>
    <li>Find two data files on the internet that you think might be relevant for your research. They must relate to the same subjects: e.g., countries, or companies, or books, or movies, or celebrities, or planets, ... (In our example above, we had data describing countries.)
    <li>Load up each file into a separate data frame.
    <li>Describe each data frame.
    <li>Clean any missing or incorrect values, in a way that makes sense to you.
    <li>Merge the two data frames together. Which kind of join makes sense for the data you have? Inner? Left? Right? Or maybe you don't know until it's time to perform further analysis?
</ol>